// 重置样式
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 14px;
}

body {
  height: 100%;
  color: #333;
  min-width: 1240px;
  font: 1em/1.4 'Microsoft Yahei', 'PingFang SC', 'Avenir', 'Segoe UI',
    'Hiragino Sans GB', 'STHeiti', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei',
    sans-serif;
}

body,
ul,
h1,
h3,
h4,
p,
dl,
dd {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #333;
  outline: none;
}

i {
  font-style: normal;
}

input[type='text'],
input[type='search'],
input[type='password'],
input[type='checkbox'] {
  padding: 0;
  outline: none;
  border: none;
  appearance: none;

  &::placeholder {
    color: #ccc;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  background: #ebebeb url('@/assets/images/200.png') no-repeat center / contain;
}

ul {
  list-style: none;
}

#app {
  background: #ffffff;
  user-select: none;
}

.container {
  width: 1240px;
  margin: 0 auto;
  position: relative;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ellipsis-2 {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}

// reset element
.el-breadcrumb__inner.is-link {
  font-weight: 400 !important;
}

.brandName{
  text-align: center;
  font-size: 18px;
}
.brandBox{
  padding: 10px 15px;
  border: 0.5px solid #979797;
  margin: 10px;
}
.typesBlock{
  height: auto;
  display: flex;
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 (可选) */
}
.typesBox{
  padding-bottom: 25px!important;
}
.typesBox {
  list-style: none; /* 去掉默认的列表样式 */
  padding: 0; /* 去掉默认的内边距 */
  margin: 0; /* 去掉默认的外边距 */
  display: flex; /* 使用 Flexbox 布局来排列单元格 */
  flex-wrap: wrap; /* 允许换行 */
}

.typesBlock {
  border: 1px solid #ccc; /* 细边框 */
  box-sizing: border-box; /* 包括边框和内边距在内的总宽度和高度 */
  padding: 10px; /* 内边距 */
  margin: 5px; /* 外边距 */
  flex: 1 1 200px; /* 使单元格可缩放，设置最小宽度 */
  text-align: center; /* 内容居中 */
  background-color: #f9f9f9; /* 背景色 (可选) */
}

.typesBlock:hover{
  box-shadow: 0 0 22px #b5dbff;
}

.typesBlock a {
  text-decoration: none; /* 去掉链接下划线 */
  color: inherit; /* 继承父元素的字体颜色 */
}
.saleservice2{
  padding: 50px 140px; 
  line-height: 35px;
}
.newsBox{
  height: 45px;
  // line-height: 35px;
  text-align: start;
}
.newsBoxLg{
  padding: 50px 140px; 

}
.goods-item{
  border:1px solid #eee
}
.newsTime{
  color: #b4b4b4;
  line-height: 50px;
  text-align: right;
}
h2{
  text-align: center;
}
.newsBox{
  border-bottom: 0.5px solid #eee;
  padding: 10px 15px!important;
}
.newsBox:hover{
  border-bottom: 0.5px solid #e3f4ff;
  box-shadow: 0 0 22px #eee;
}